<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

    <div>
        <h1>DNAC Templates</h1>

        <h2>Welcome {{user.first_name}}</h2>

        <a href="/user/{{user.id}}"><button type="button" class="btn btn-outline-info">My Templates</button></a>

        <a href="/dnac_template/new"><button type="button" class="btn btn-outline-info">Create Template</button></a>

        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Template Name</th>
                        <th>Template Author</th>
                    </tr>
                </thead>

                <tbody>
                    {% for dnac_template in dnac_templates %}
                        <tr>
                            <td>{{ dnac_template.template_name }}</td>
                            <td>{{ dnac_template.creator.first_name }}</td>
                            <td>
                                <a href="/dnac_template/{{ dnac_template.id }}"><button type="button" class="btn btn-outline-info">Details</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

        <a href="/user/logout"><button type="button" class="btn btn-outline-info">Logout</button></a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>

</html>