<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">DNAC Templates</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/user/{{user.id}}">My Templates</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/dnac_template/new">Create Template</a>
                </li>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>
    <div>
        <h1>Welcome {{user.first_name}}</h1>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Template Name</th>
                        <th>Template Author</th>
                    </tr>
                </thead>

                <tbody>
                    {% for dnac_template in dnac_templates %}
                        <tr>
                            <td>{{ dnac_template.template_name }}</td>
                            <td>{{ dnac_template.creator.first_name }}</td>
                            <td>
                                <a href="/dnac_template/{{ dnac_template.id }}"><button type="button" class="btn btn-outline-info">Details</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

        <a href="/user/logout"><button type="button" class="btn btn-outline-info">Logout</button></a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>

</html>