<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

    <h1 class="page_title">DNAC Templates</h1>

    <h2 class="page_title">Welcome {{session.first_name}}</h2>

    <a href="/dashboard"><button type="button" class="btn btn-outline-info">Dashboard</button></a>

    <div class="view">
        <h1 class="page_title">Create New Template</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
            <div>
                <form action="/dnac_template/new/process" method="post">
                    <div class="mb-3">
                        <label for="template_name" class="form-label">Template Name</label>
                        <input type="text" class="form-control" name="template_name" id="template_name" placeholder="Template Name">
                    </div>
                    <div class="mb-3">
                        <label for="template_body" class="form-label">Template Body</label>
                        <textarea class="form-control" name="template_body" id="template_body" rows="3" placeholder="Template Body"></textarea>
                    </div>
                    <button type="submit" type="button" class="btn btn-outline-info">Create Template</button>
                </form>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>